<body>

    <header>
        <div class="navbar navbar-inverse" style=" background:#414141;">
            <a href="#" class="navbar-brand" style="font-size: 20px;">
                <span class=" glyphicon 	glyphicon glyphicon-tags"></span> SHOP
            </a>
            <div class="visible2">
                <a href="" class="navbar-brand pull-right"> Salir </a>
                <a href="" class="navbar-brand pull-right"><span class=" glyphicon glyphicon-shopping-cart"></span> Mi Cesta </a>
  
                <form class="navbar-form pull-right" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Buscar</button>
                        </span>
                    </div>
                </form>
  
            </div>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
  
        <div class="banner">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
  
                    </div>
                    <div class="collapse navbar-collapse" id="menu">
                        <ul class="nav navbar-nav">
                            <li>
                                <div class="visible ">
                                    <a href="">Registrarse</a>
                                </div>
                            </li>
                            <li>
                                <div class="visible ">
                                    <a href="">Iniciar Sesion</a>
                                </div>
                            </li>
                            <li>
                                <div class="visible "><a href="">Mujer</a></div>
                            </li>
                            <li>
                                <div class="visible "><a href="">Hombre</a></div>
                            </li>
                            <li>
                                <div class="visible "><a href="">Accesorios</a></div>
                            </li>
                            <li>
                                <div class="visible "><a href="">Niños</a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <img src="https://preview.ibb.co/n4jq7a/shopping_2163323_960_720.jpg">
            <nav class="navbar navbar-inverse">
            </nav>
        </div>
    </header>
    <div class="cuerpo">
        <div class="container ">
            <div class="row">
                <div class=" hidden-xs col-sm-4 col-md-3 ">
                    <br>
                    <div class="panel panel-primary">
                        <div class="panel-heading">Categorias</div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a href="" class="list-group-item" style="font-weight:bold;">Mujer (29)</a>
                                    <a href="" class="list-group-item">Vestidos</a>
                                    <a href="" class="list-group-item">Blusas</a>
                                    <a href="" class="list-group-item">Pantalones</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="" class="list-group-item" style="font-weight:bold;">Hombre(20)</a>
                                    <a href="" class="list-group-item">Camisas</a>
                                    <a href="" class="list-group-item">Zapatos</a>
                                    <a href="" class="list-group-item">Pantalones</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="" class="list-group-item" style="font-weight:bold;">Niños (43)</a>
                                    <a href="" class="list-group-item">Niñas</a>
                                    <a href="" class="list-group-item">Niños</a>
                                    <a href="" class="list-group-item">Bebes</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="" class="list-group-item" style="font-weight:bold;">Accesorios (87)</a>
                                    <a href="" class="list-group-item">Mujeres</a>
                                    <a href="" class="list-group-item">Hombres</a>
                                    <a href="" class="list-group-item">Niños</a>
                                </li>
                  
                                <li class="list-group-item" style="font-weight:bold;">
                                    <a href="" class="list-group-item">Juguetes (23)</a>
                                </li>
                                <li class="list-group-item" style="font-weight:bold;">
                                    <a href="" class="list-group-item">Electronicos (19)</a>
                                </li>
                                <li class="list-group-item" style="font-weight:bold;">
                                    <a href="" class="list-group-item">Hogar (90)</a>
                                </li>
                                <li class="list-group-item" style="font-weight:bold;">
                                    <a href="" class="list-group-item">Otros (165) </a>
                                </li>
                            </ul>
                        </div>
    
                    </div>
                    <div class=" col-sm-8 col-md-9">
                        <img src="http://www.naturhome.org/0-naturhome/estilos/banner-rebajas.jpg" class="oferta">
    
                        <div class="row oferta1"> <br>
                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail">
                                    <img src="http://soy.moda/wp-content/uploads/2016/02/blusas-elegantes-20162.jpg">
                                    <div class="caption">
                                        <h3>Blusa </h3>
                                        <del>Antes: €40.92</del>
                                        <p>Ahora: €33.81</p>
                                        <a href="#" class="btn btn-warning">Ver mas</a>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail">
                                    <img src="https://http2.mlstatic.com/camisa-hollister-hombre-manga-larga-modelo-exclusivo-D_NQ_NP_912325-MEC25423769230_032017-O.jpg">
                                    <div class="caption">
                                        <h3>Camisa </h3>
                                        <del>Antes: €80.92</del>
                                        <p>Ahora: €55.81</p>
                                        <a href="#" class="btn btn-warning">Ver mas</a>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReMDXuSWBOQgNzD3-_v0PEEONo38K9Zd6--pRsXrbeDCybYmnwHA">
                                    <div class="caption">
                                        <h3>Olla</h3>
                                        <del>Antes: €102.92</del>
                                        <p>Ahora: €78.81</p>
                                        <a href="#" class="btn btn-warning">Ver mas</a>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail">
                                    <img src="https://s-media-cache-ak0.pinimg.com/originals/28/f1/75/28f1759216f170522a07740c6d255dc6.jpg">
                                    <div class="caption">
                                        <h3>Blusa </h3>
                                        <del>Antes: €48.92</del>
                                        <p>Ahora: €39.81</p>
                                        <a href="#" class="btn btn-warning">Ver mas</a>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="row oferta2"> <br>
                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail">
                                    <img src="https://s-media-cache-ak0.pinimg.com/736x/c2/81/d7/c281d724108529d9fc713f74190a25d5.jpg">
                                    <div class="caption">
                                        <h3>Medias</h3>
                                        <del>Antes: €40.92</del>
                                        <p>Ahora: €33.81</p>
                                        <a href="#" class="btn btn-warning">Ver mas</a>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail">
                                    <img src="http://modadejuguetes.com/wp-content/uploads/2017/01/Se%C3%B1or-cara-de-papa-en-juguete-5.jpg">
                                    <div class="caption">
                                        <h3>Juguete</h3>
                                        <del>Antes: €80.92</del>
                                        <p>Ahora: €55.81</p>
                                        <a href="#" class="btn btn-warning">Ver mas</a>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail">
                                    <img src="http://www.shoppingspot.do/wp-content/uploads/2016/08/Vestido-de-jean-estilo-agualluvia-voc0018-1.png">
                                    <div class="caption">
                                        <h3>Vestido</h3>
                                        <del>Antes: €102.92</del>
                                        <p>Ahora: €78.81</p>
                                        <a href="#" class="btn btn-warning">Ver mas</a>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail">
                                    <img src="http://ecx.images-amazon.com/images/I/418hpwLz8hL._SY576_CR0,0,400,500_.jpg">
                                    <div class="caption">
                                        <h3>Toallas</h3>
                                        <del>Antes: €48.92</del>
                                            <p>Ahora: €39.81</p>
                                            <a href="#" class="btn btn-warning">Ver mas</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div align="center">
                        <div class="paginacion">
                            <ul class="pagination">
                                <li><a href="#">«</a></li>
                                <li><a href="#">1</a></li>
                                <li><a class="active" href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                    </div>
    
                </div>
    
            </div>
            <div>
                <div align="center">
                <h1>Como Comprar en Shop</h1>
                </div>
                <hr>
                <img src="http://bricoutlet.com/sites/default/assets/images/comoComprar.png" class="oferta">
                <h3>Lo Mas Vendido</h3>
                <hr>
                <div class="row oferta1"> <br>
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img src="http://soy.moda/wp-content/uploads/2016/02/blusas-elegantes-20162.jpg">
                            <div class="caption">
                                <h3>Blusa</h3>
                                <del>Antes: €40.92</del>
                                <p>Ahora: €33.81</p>
                                <a href="#" class="btn btn-warning">Ver mas</a>
                            </div>
                        </div>
                    </div>
    
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="https://http2.mlstatic.com/camisa-hollister-hombre-manga-larga-modelo-exclusivo-D_NQ_NP_912325-MEC25423769230_032017-O.jpg">
                        <div class="caption">
                            <h3>Blusa</h3>
                            <del>Antes: €40.92</del>
                            <p>Ahora: €33.81</p>
                            <a href="#" class="btn btn-warning">Ver mas</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="https://s-media-cache-ak0.pinimg.com/originals/28/f1/75/28f1759216f170522a07740c6d255dc6.jpg">
                        <div class="caption">
                            <h3>Blusa</h3>
                            <del>Antes: €40.92</del>
                            <p>Ahora: €33.81</p>
                            <a href="#" class="btn btn-warning">Ver mas</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="https://s-media-cache-ak0.pinimg.com/originals/28/f1/75/28f1759216f170522a07740c6d255dc6.jpg">
                        <div class="caption">
                            <h3>Blusa</h3>
                            <del>Antes: €40.92</del>
                            <p>Ahora: €33.81</p>
                            <a href="#" class="btn btn-warning">Ver mas</a>
                        </div>
                    </div>
                </div>
            </div>
            <div align="center">
              <div class="paginacion">
                    <ul class="pagination">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a class="active" href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>
    
        </div>
    
        
        <br>
        <footer>
            <div class="container ">
                <div class="row">
    
                    <div class="col-md-4">
                        <ul>
                            <li>
                                <h3><a href="">Chop</a> </h3>
                            </li>
                            <br>
                            <li><a href="">Nosotros</a></li>
                            <li><a href="">Tienda Fisica</a></li>
                            <li><a href="">Politicas de Devoluciones</a></li>
                            <li><a href="">Condiciones de Ventas</a></li>
                        </ul>
                    </div>
    
                    <div class="col-md-4">
                        <ul>
                            <li>
                                <h3><a href="">Mi Cuenta</a> </h3>
                            </li>
                            <br>
                            <li><a href="">Mis Pedidos</a></li>
                            <li><a href="">Mis Datos Personales</a></li>
                            <li><a href="">Mi Lista de Deseos</a></li>
                        </ul>
                    </div>
    
                    <div class="col-md-4">
                        <ul>
                            <li>
                                <h3><a href="">Contactos</a> </h3>
                            </li>
                            <br>
                            <li><a href="">Telefono</a></li>
                            <li><a href="">Direccion</a></li>
                            <li><a href="">Correo Electronico</a></li>
                        </ul>
                    </div>
    
                </div>
                <br>
                <div align="center">
                    <div class="redes-sociales">
                        <a href="URL-FACEBOOK" target="_blank"><img alt="siguenos en facebook" height="32" src="http://1.bp.blogspot.com/-PrByV4NBlSs/UiXnD1FEFnI/AAAAAAAABws/dUhvcAdYRiY/s1600/Facebook+alt+1.png" title="siguenos en facebook" width="32" /></a>
    
                        <a href="URL-Google+" target="_blank"><img alt="siguenos en Google+" height="32" src="http://3.bp.blogspot.com/-fnL839vxuao/UiXnFfyN17I/AAAAAAAABxc/VvcXJlZ65Ko/s1600/Google%252B+alt.png" title="siguenos en Google+" width="32" /></a>
    
                        <a href="URL-Twitter" target="_blank"><img alt="siguenos en Twitter" height="32" src="http://3.bp.blogspot.com/-wlwaJJG-eOY/UiXnHS2jLsI/AAAAAAAAByQ/I2tLyZDLNL4/s1600/Twitter+NEW.png" title="siguenos en Twitter" width="32" /></a>
    
                        <a href="URL-Instagram" target="_blank"><img alt="sígueme en Instagram" height="32" src="http://1.bp.blogspot.com/-XzfTlSQVRyU/UiYMDc6J65I/AAAAAAAAB9E/mT46uPMTW6k/s1600/instagram.png" title="sígueme en Instagram" width="32" /></a>
    
                        <a href="URL-Pinterest" target="_blank"><img alt="Sígueme en Pinterest" height="32" src="http://2.bp.blogspot.com/-jKx3RnQCslA/UiYMDLz_40I/AAAAAAAAB9Y/ekDWhiimFuA/s1600/Sin+t%25C3%25ADtulo.png" title="Sígueme en Pinterest" width="32" /></a>
    
                        <a href="URL-Correo" target="_blank"><img alt="sígueme por Correo" height="32" src="http://2.bp.blogspot.com/-t8bRdqt67iE/UiXnF39QD8I/AAAAAAAABxY/RxGC9wr-GxA/s1600/Mail.png" title="sígueme por Correo" width="32" /></a>
    
                    </div>
                </div>
    
            </div>
            <br>
            <br>
            <div class="derechos">
                <div align="center">
                    <h4>© 2016 Chop. Todos los derechos reservados</h4>
                </div>
            </div>
        </footer>
    
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        
        <script src="js/bootstrap.js"></script>
    
</body>
